.wrap{width: 100%;  }
.kong{width: 100%;height:100%;position: fixed;left: 0;top: 0;display: none}
/*date*/.date_demo{
            width:200px;border: none;background: none;outline: none; height:36px; line-height:36px;
        }
/* tab */
.slideTxtBox{width:100%;}
.slideTxtBox .hd{ height:88px; line-height:88px; background:#fff;padding: 0 2%;width: 96%;box-shadow: 0px 0px 22.32px 1.68px rgba(185, 191, 205, 0.26); }
.slideTxtBox .hd ul{width: 1200px;overflow: hidden;margin: 0 auto}
.slideTxtBox .hd ul li{ float:left;cursor:pointer;text-align: center;margin: 0 28px;font-size: 18px;color: #666;}
.slideTxtBox .hd ul li.on{border-bottom:2px solid #3b4966;color: #3b4966;line-height: normal}
.slideTxtBox .hd ul li.on span{display: block;padding: 32px 0 30px 0;}
.slideTxtBox .bd .bd_div{
    width: 90%;
    margin-left: 5%;
    padding-top: 15px;
    display: inline-block;
}
.slideTxtBox .bd li{
    padding:34px 0;
    border-bottom: 1px solid #e5e5e5;
    width: 100%;
}
.slideTxtBox .bd li:last-of-type{border-bottom: none}
.slideTxtBox .bd li span{
    display: block;
    width: 170px;
    float: left;
    margin-right: 11px;
    line-height: 32px;
    color: #333;
}
.slideTxtBox .bd li label.name{line-height: 30px;color: #999;padding-left: 31px;}
.slideTxtBox .bd li .l_input{
    width: 50%;
    padding: 0;
    margin: 0;
    background: #f7f7f7;
    border: 1px solid #dcdcdc;
    height: 32px;
    outline: none;
    padding-left: 30px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}
/*接收设置*/
.bd .bd_div li .module{
    display: inline-block;
    color: #666;
    position: relative;
    width: 899px;
}
.bd .bd_div li .module p{display: inline-block}
.bd .bd_div li .module .radio{
    line-height: 32px;
    display: block;
    min-width: 130px;
    float: left;
}
.bd .bd_div li .module .radio .r_in{margin-right: 10px;width: 20px;height: 20px;margin-top: -3px;outline: none}
.bd .bd_div li .module .radio .checkbox{margin-top:0;}
.bd .bd_div li .module .radio .time{display: block;float: left}
.bd .bd_div li .module .radio .t_data{
    height: 28px;
    padding: 0 20px;
    /*background: -moz-linear-gradient(top, #fff 0%, #f7f8f9 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(100%,#f7f8f9));
    background: linear-gradient( #fff, #f7f8f9);*/
    background: url(../images/btn_bj.jpg) repeat-x left center;
    background-size: 1px 100%;
    border: 1px solid #e6eaef;
    color: #5e71a0;
    margin-left: 27px;
}
.bd .bd_div li .module .radio .t_data i{font-style: normal}
.bd .bd_div li .module .reset_w{min-width: 85px;}
/*常规设置*/
.bd ul li .module .o_span{
    width:100px;
    color: #666;
}
.time_a{
    width: 94px;
    height: 28px;
    /*background: -moz-linear-gradient(top, #fff 0%, #f7f8f9 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(100%,#f7f8f9));
    background: linear-gradient( #fff, #f7f8f9);*/
    background: url(../images/btn_bj.jpg) repeat-x left center;
    background-size: 1px 100%;
    border: 1px solid #e6eaef;
    color: #5e71a0;
    text-align: center;
    line-height: 28px;
    cursor: pointer;
}
.time_a img{vertical-align: middle;padding-left: 5px;}
.module .time_select{
    width: 94px!important;
    height: 140px;
    margin-left: 0!important;
    padding-top: 0!important;
    overflow-y: auto;
    border: 1px solid #e6eaef;
    border-top: none;
    position: absolute;
    left: 0;
    top: 30px;
    background: #fff;
    display: none;
}
.time_select::-webkit-scrollbar{width: 2px;}
.time_select li{padding: 0!important;line-height: 28px;padding-left: 26px!important;    width: auto!important;}
.time_select li a{display: block;color: #5e71a0;}
/**/
.pub-date li, .pub-download, .pub-choice-date {
    height: 43px;
    line-height: 43px;
    /*background: -moz-linear-gradient(top, #fff 0%, #f7f8f9 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #f7f8f9));
    background: linear-gradient( #fff, #f7f8f9);*/
    background: url(../images/btn_bj.jpg) repeat-x left center;
    background-size: 1px 100%;
    border: 1px solid #e6eaef;
    cursor: pointer; }
.pub-choice-date {
    float: left;
    margin-left: 20px;
    width: 270px;
    color: #5e71a0;
    margin-top: -9px;
}
.pub-choice-date-icon {
    display: inline-block;
    width: 23px;
    height: 26px;
    background: url("../images/dateicon.png");
    vertical-align: middle;
    margin: 0 18px; }
