.wrap{width: 100%;padding-bottom: 73px;}
.save_alert .s_center .lose{display: block}
.model{
    width: 94%;
    margin: 0 3%;
    padding-top: 50px;
    display: inline-block;
}
/*first*/
.f_model{padding-top: 25px;}
/*网站名称*/
.site_name{padding-top: 66px;}
.model .m_tit{width: 100px;float: left;margin-top: 25px;}
.model .m_cont{
    margin-left: 105px;
    /*border: 2px solid #e5e5e5;*/
}
.model .m_cont .check{width: 100%;display: inline-block}
.model .m_cont .check .option{
    float: left;
    display: inline-block;
    margin-top: 15px;
}
.model .m_cont .check .option p{
    padding: 7px 39px 7px 15px;
    border: 1px solid #00a8ff;
    position: relative;
}
.model .m_cont .check .option p .close{
    display: block;
    width: 11px;
    height: 10px;
    background: url("../images/close.png") no-repeat left center;
    position: absolute;
    right: 10px;
    top: 10px;
}
.model .m_cont .speciesCheck{
    display: inline-block;
    width: 100%;
}
.model .m_cont .tab{
    display: inline-block;
}
.model .m_cont .tab li{
    padding: 0 20px;
    line-height: 52px;
    border: 2px solid #fff;
    float: left;
    border-bottom: none;
}
.model .m_cont .tab li.on{
    border: 2px solid #e5e5e5;
    border-bottom: none;
    background: #f6f6f6;
}
.m_cont .classify{
    border: 2px solid #e5e5e5;
    margin-top: -2px;
    padding: 32px 40px;
    overflow: hidden;
}
.m_cont .classify p{
    width: 100%;
    padding-bottom: 6px;
}
.m_cont .classify ul{
    width: 340px;
    float: left;
}
.m_cont .classify ul li{
    line-height: 26px;
}
.m_cont .reset{
    margin-top: 10px;
}
.m_cont .reset ul{width: 270px;}
.m_cont .reset ul:last-child{width: 213px;}
/**/
.site_name .m_tit{margin-top: 0;line-height: 32px;}
.m_cont .name{
    width: 400px;
    height: 32px;
    padding: 0;
    margin: 0;
    border: 1px solid #dcdcdc;
    background: #f7f7f7;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding-left: 10px;
    outline: none;
    float: left;
}
.m_cont .search{
    display: block;
    width: 88px;
    height: 32px;
    border: 1px solid #019fe9;
    background: #00a8ff;
    text-align: center;
    line-height: 34px;
    color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    float: left;
    margin-left: 34px;
}
/**/
.result .m_tit{margin-top: 0;line-height: normal}
.m_cont table{
    width: 60%;
    text-align: center;
    line-height:35px;
    font-weight: normal;
    border: 1px solid #dcdcdc;
    border-bottom: none;
    margin-top: 4px;
}
.m_cont table tr{
    border-bottom: 1px solid #dcdcdc;
}
.m_cont table tr:nth-child(even) { background:#f9f9f9; }
.m_cont table th{color: #666666;font-weight: normal;border-right: 1px solid #dcdcdc;}
.m_cont table td{color: #666;height: 35px;border-right: 1px solid #dcdcdc;background: #f7f7f7}
.operate{margin: 0 3%;width:auto;padding-left: 105px;}
